body {
font: 12px Arial, Helvetica, sans-serif;
color: #333333;
}
h1 {
font: bold 18px Arial, Helvetica, sans-serif;
color: #333333;
}
h2 {
font: bold 16px Arial, Helvetica, sans-serif;
color: #333333;

}
h3 {
font: 14px Arial, Helvetica, sans-serif;
color: #333333;
}
p {
font: 12px Arial, Helvetica, sans-serif;
color: #666666;
}
li {
font: 12px Arial, Helvetica, sans-serif;
color: #666666;
}
th {
font: bold 12px Arial, Helvetica, sans-serif;
text-align: left;
}
.nav {
font: 12px Arial, Helvetica, sans-serif;
height: 20px;
text-align: center;
}
td {
font: 12px Arial, Helvetica, sans-serif;
}
