#header{
	background: #000000;
	border-color: #000000;
}

.widget-header {
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	background-color: black;
	color: white;
	padding: 5px 0 5px 10px;
}
#top_advert{
	display: block;
	height: 60px
	width: 500px;
	float: right;
	margin-right: -60px;
	margin-top: -15px;
}

#footer{
	background-color: #000000;
}
