#advert-top {
	    padding-top: 25px;
		float: right;
		width: 500px;
		vertical-align: bottom;
}

#advert-tall {
    padding-left:36px;
	    height: 700px;
}

#header-name {
	color: '#FF0000';
}

.widget-what-is-perl {
	font-weight: 700;
}

.widget-what-is-perl h3 {
	font-size: 1.6em;
}


.widget-what-is-perl .widget-content {
	font-size: 1.1em;
}
